@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "AbrilFatface";
  src: url("../public/fonts/AbrilFatface-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #242423;
}

@layer components {
  .single-child-center {
    @apply grid place-items-center;
  }

  .custom-button {
    @apply select-none rounded-[0.25rem] border-2 border-black bg-[#ff90e8] px-[16px] py-[12px] font-lable font-thin transition-[0.2s];
  }
  .simple-button {
    @apply select-none rounded-[0.25rem] border-2 border-black bg-[#ff90e8] px-[16px] py-[12px] font-lable font-thin transition-[0.2s];
  }
  .custom-button:hover {
    @apply translate-x-[-0.25rem] translate-y-[-0.25rem] shadow-[0.25rem_0.25rem_0_#000];
  }
  .custom-button:active {
    @apply translate-x-0 shadow-none;
  }
  .custom-button-white {
    @apply min-w-[121px] select-none rounded-[0.25rem] border-2 border-black bg-[#ff90e8] px-[16px] py-[12px] font-lable font-thin transition-[0.2s];
  }
  .custom-button-white:hover {
    @apply translate-x-[-0.25rem] translate-y-[-0.25rem] shadow-[0.25rem_0.25rem_0_#fff];
  }
  .custom-button-white:active {
    @apply translate-x-0 shadow-none;
  }
  .load-container {
    @apply pointer-events-none fixed left-0 top-0 z-10 h-screen w-full overflow-hidden;
  }
  .load-screen {
    @apply relative h-full w-[0%] bg-gblack px-0 pt-0;
  }
}
